
.bookscreen-container {
  padding: 20px;
  text-align: center;
}

.header {
  background-color: #3498db;
  padding: 20px;
  color: white;
  font-family: 'Arial', sans-serif;
  margin-bottom: 40px;
}

.bookstore-heading {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.user-greeting-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.username {
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  right:300px;
}

.cart-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  background-color:#007bff;
  position: fixed;
  right:150px;
}